{% extends 'inventory/base_side.html' %} {% block extra_head %}
<style>
  #wrapper {
    width: 100%;
    margin-top: -10px;
  }

  @media (min-width: 868px) {
    #page-content-wrapper {
      padding-left: 250px;
    }
    #sidebar-wrapper {
      width: 250px;
      position: fixed;
      height: 100%;
      z-index: 999;
      background: #f2f2f2;
    }
  }
</style>
{% endblock %} {% block content %}
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3 class="mt-4 text-center">Documentation</h3>
      </div>

      <ul class="list-unstyled components">
        <p class="text-center">Jump to Section</p>
        <li style="text-align: center" class="mb-3">
          <a href="#auth" class="text-center">Login</a>
        </li>
        <li style="text-align: center" class="mb-3">
          <a href="#actionprofile" class="text-center">Action Profile</a>
        </li>
        <li style="text-align: center" class="mb-3">
          <a href="#nointake" class="text-center">Target No Intake</a>
        </li>
        <li style="text-align: center" class="mb-3">
          <a href="#" class="text-center">Target High Ext</a>
        </li>
        <li style="text-align: center" class="mb-3">
          <a href="#" class="text-center">Placeholder</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="m-5">
            <b>Docs <i class="fas fa-book"></i></b>
          </h1>
          <div id="border" class="m-5 border-bottom"></div>
          <p
            class="m-5 fw-light"
            style="
              font-weight: 300;
              font-size: 1.5rem;
              line-height: 1.5rems;
              letter-spacing: 0.015rem;
            "
          >
            Guides and reference material to help you get started, optimize, and
            troubleshoot your use of the Reduction Toolkit Platform.
          </p>

          <div id="content" class="m-5">
            <h2 id="auth">Steps to Using The Reduction Toolkit</h2>

            <!-- Step One: Login -->
            <div id="auth">
              <h3 class="mt-4">Step One: Start by Logging In</h3>

              <p class="mt-4" id="view">
                To use the Reduction Toolkit you must first login using your
                username and password. If you are a Director of Materials
                Management (DMM) with BHS, you will be given a username and
                password that will enable you to act on behalf of your facility.
                If you are not a BHS DMM, you can still sign up, however you
                will not have access to the View, Move, and Act pages. As a
                non-BHS DMM you currently only have access to the "Outstanding
                Requests" page but we are working to expand those functions.
              </p>

              <p>
                The Reduction Toolkit is split into four different sections:
              </p>

              <ol>
                <li>Action Profile</li>
                <li>Target Non Intake Items</li>
                <li>Target High Ext Items</li>
                <li>Review Targeted Items</li>
              </ol>

              <p id="actionprofile">
                We will now be taking an in-depth look at each one of these
                sections. Note that you can jump ahead to any section you are
                interested in by clicking the hyperlinks on the left side of the
                documentation.
              </p>
            </div>

            <!-- Step Two: View Page -->
            <div>
              <h3 class="mt-4">Step Two: The Action Profile</h3>
              <p class="mt-4">
                After logging in, you will be redirected to the Action Profile
                page. You can think of this page as your HQ for making all
                decisions related to incoming or outgoing inventory. Below
                you'll see a screenshot of an example Action Profile. You will
                notice that the profile consists of a header at the top of the
                screen with several metrics in a list, and two tables below
                that. These features will be explained over the next several
                steps. On the left is the navigation drawer that you can use to
                navigate the website. Remember that you can always get back to
                the documentation by clicking the tab labeled "Documentation" if
                you are ever stuck or confused.
              </p>

              <p>
                NOTE: Portions of screengrabs in the documentation have been
                redacted to protect sensitive company information.
              </p>

              <img
                src="https://d3epl9dvc9angi.cloudfront.net/ActionProfileDocs.png"
                alt="view page screen grab"
                width="100%"
                class="mt-2 shadow"
              />

              <p class="mt-4" id="target">
                Now that your're familiar with the layout of the website, it's
                time to focus on targeting items for reduction. The Reduction
                Toolkit (RT) takes your inventory counts submitted bi-annually
                and pulls the items located in your Surgery and Cath Lab (SLB
                and NCB are solely items located in surgery). These items are
                then
                <b>sorted for highest Extended Cost (LUOM Price * Quantity)</b>
                and then seperated into two buckets.
              </p>

              <ul>
                <li>Items that <b>did not</b> receive intake in FY2020</li>
                <li>Items that <b>did</b> receive intake in FY2020</li>
              </ul>

              <p id="nointake">
                Therefore you have two options when targeting items that you'd
                like to reduce. You can target "No Intake Items" or you can
                target "High Ext Items" (AKA items that are seeing intake but we
                might consider being held in excess). Your first priority should
                be to target and reduce inventory that is not seeing intake, so
                let's do that in the next step.
              </p>
            </div>

            <!-- Step Three: Target No Intake -->
            <div>
              <h3 class="mt-4">Step Three: Target Items for Reduction</h3>

              <p class="mt-4">
                Still on the Action Profile page, you can navigate to the Target
                No Intake page by clicking the tab on the navigation sidedrawer
                labeled "Target No Intake". This will take you to a screen with
                a list of items being considered "Non-Intake" items. The list
                consists of 100 items that are flagged as no intake and are
                sorted by highest extended cost. In order for an item to be
                considered to have no intake it must meet the following
                requirements:
              </p>

              <ul>
                <li>
                  Zero purchase orders (POs) for FY2020 (source data from Novus
                  Reach)
                </li>
                <li>
                  Zero items issued to your facility (issues) for FY2020 (I9000
                  report from IMMS)
                </li>
              </ul>

              <p>
                Please note that if one of these items is in multiple locations
                or "bins" in your facility, then the system will group them
                together if their unit of measures (UOM) are the same. This
                helps to handle items with the same IMMS number that are listed
                multiple times on your count sheet.
              </p>

              <img
                src="https://d3epl9dvc9angi.cloudfront.net/NoIntakeDocs.png"
                alt="view page screen grab"
                width="100%"
                class="mt-2 shadow"
              />

              <p class="mt-4">
                Now that you've got your list of items with no intake, you can
                begin targeting them. Each DMM should go through their list and
                check to see if any of the items in the list can be reduced at
                their facility. For our example, let's say that you are checking
                the list and see that the item in the screenshot above labeled
                "SLING, URETHRAL DESARA BLUE..." can be reduced. You would then
                click the checkbox in the item's card labeled "Target Item".
                After checking the box, the box will have a blue checkmark in it
                and the system will update automatically. We don't have to click
                anything after checking the box, the system saves automatically
                and we can continue on in the process.
              </p>

              <p>
                After going through the list and selecting all of the items that
                you'd would like to reduce from your facility, you can then
                click on the tab labeled "Review Targets" in your navigation
                sidedrawer on the left of your page.
              </p>
            </div>

            <!-- Step Four: Review Targets -->
            <div>
              <p>
                After clicking on the "Review Targets" tab, you should now be
                looking at a page with the title "Review Target Items" at the
                top of screen. See below:
              </p>

              <!-- ReviewTargetsDocs here -->
              <p>
                You'll see the item that you targeted previously, as well as any
                other items that you have targeted.
              </p>

              <p>
                When you want to reduce an item, you will need to submit what is
                called a "movement plan". A movement plan will help you keep
                track of an item during the reduction process and also measure
                how much inventory you have reduced over a given period.
              </p>

              <p>
                To submit a movement plan, click the blue button labeled "Set
                Movement Plan" on the bottom of the item's card.
              </p>

              <!-- SetMovementPlanDocs1 -->
              <p>
                You will now be taken the page where you can submit your
                movement plan. You'll see three sections of information on this
                page:
              </p>

              <ul>
                <li>Item Information</li>
                <li>BHS Intake and Inventory History</li>
                <li>Tenet Purchase Order History</li>
              </ul>

              <p>
                The first section under the title "Set Movement Plan for Item:"
                is listing out the pertinent information for the item you have
                selected. Which will include Mfr Cat No, IMMS #, and unit of
                measure information.
              </p>

              <!-- SMPDocs2 -->
              <p>
                The second section under the title "BHS Facilities Showing
                Inventory History or Intake History" is pretty much self
                explanatory. It is listing facilities within Baptist Health
                System that have shown the selected item in their most recent
                submitted inventory count. Note that even if the facility had
                zero units in their inventory, they will still show up if
                they've had the imms number in their count at some point, as we
                can see with facility 939 (BMC). Also worth noting, all measures
                mentioned above are shown in their lowest unit of measure. You
                can confirm this by referencing the UOM info at the top of the
                screen.
              </p>

              <!-- SMPDocs3 -->
              <p>
                The third section is under the label "Tenet Facilities Showing
                Purchase Order History". This section will show you if any
                facilities within Tenet have a made purchase order for the
                selected item in FY2020. In our example, you can see that the
                system is not able to find any matches for Tenet facilities and
                is informing us of that. It is worth noting that all markets in
                Tenet are represented except for the Detroit Market. We are
                still working on integrating their Lawson system with IMMS.
              </p>

              <!-- SMPDocs4 -->
              <p>
                Finally, we arrive to the bottom of the page, the Movement Plan.
                You should see a form with three fields:
              </p>

              <ol>
                <li>Quantity</li>
                <li>Decision</li>
                <li>System Destination Facility</li>
              </ol>

              <h5>Quantity</h5>
              <p>
                The quantity field is asking how many units of the selected item
                you are seeking to reduce from your quantity. Again, these units
                are in lowest unit of measure. You will be required to enter an
                intenger into this field that is higher than 0 and lower than
                your current inventory quantity which is listed in the item
                information at the top of the page. If you accidentally enter a
                quantity greater than your inventory level you will be shown an
                error page that will instruct you to try again or reference the
                documentation. Note that the Reduction Toolkit lets you set
                multiple Movement Plans on a single item. In order to prevent
                users from overdrafting their stocked inventory, the application
                will throw the aforementioned error page if a user makes
                multiple requests whose cumulative quantity is greater than
                facilities' inventory.
              </p>

              <h5>Decision</h5>
              <p>
                The decision is which method you would like to use to reduce the
                item's inventory. You have four options to choose from and they
                are listed in descending order of most optimal outcome to least
                optimal outcome:
              </p>

              <ul>
                <li>Ship to a facility within the system</li>
              </ul>

              <p>
                Choose this option if there is a BHS facility that is showing
                large intake of the selected item. This should be your first
                priority if possible.
              </p>

              <ul>
                <li>Ship to a Tenet Facility</li>
              </ul>

              <p>
                Choose this option if there is a Tenet facility that is showing
                large intake of the selected item. This should be your second
                priority if possible.
              </p>

              <ul>
                <li>Sell to a third party vendor</li>
              </ul>

              <p>
                Choose this option if there is not enough intake in any BHS
                facilities or Tenet facilities. This should be your third
                choice.
              </p>

              <ul>
                <li>Discard the item</li>
              </ul>

              <p>
                Choose this option if you have exhausted all other options. This
                should be your last resort.
              </p>

              <h5>System Destination Facility</h5>
              <p>
                After making a decision, the final field will be system
                destination facility. This field is potentially tricky and may
                lead to errors if not handled correctly. Its purpose is to help
                facilitate transfers within the Baptist Health System by
                declaring which facility you are attempting to transfer to. For
                example, our item is showing no intake in BHS. However, let's
                say NCB was showing a large amount of issued units in 2020, then
                we would click the drop down and select North Central Baptist
                Hospital. But what if you are not shipping the item within BHS
                you might ask? Because this field cannot be left blank we need
                to indicate that we are not shipping within the system and are
                either shipping to a Tenet facility or selling/discarding the
                item. We can do this by clicking the dropdown and selecting
                "Shipping to a Tenet Facility" if we are sending to a Tenet
                facility or we can select "Selling or Discarding" if we are
                selling the item or discarding it.
              </p>

              <p>
                Once you have filled out all the fields you can press the blue button labeled "Submit" to
                submit the form. For our example, I will indicate that I want to sell 5 EA of this item.
                Therefore, I will enter 5 in quantity, select the button labeled "Sell to a third party vendor"
                and then select "Selling or Discarding" in the System Destination Facility dropdown. I'll then click Submit
                to submit the form.
              </p>

              <!-- SubmittedPlanDocs -->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
