{% extends 'inventory/base.html' %}

{% block content %}
<div class="container">
    <div style="margin-top: 50px;" class="jumbotron">
        <h1 class="display-3">View, Target, Optimize</h1>
        <p class="lead">Designed to ease the process of identifying and reducing non-moving inventory</p>
        <hr class="my-4">
        <p>Click get started to sign up, or view docs to learn more</p>
        <div class="row">
            <div class="col-sm">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
                    <a class="btn btn-outline-primary btn-lg" href="#" role="button">View Docs</a>
                </p>
            </div>
        </div>    
    </div>
</div>


{% endblock %}