{% extends 'inventory/base.html' %}

{% load static %}

{% block content %}
    <main role="main" class="container">
        <div style="margin-top: 50px;" class="jumbotron">
            <h1 class="display-3">View, Target, Move</h1>
            <p class="lead">Designed to ease the process of identifying and reducing non-moving inventory</p>
            <hr class="my-4">
            <p>Click get started to sign up, or view docs to learn more</p>
            <div class="row">
                <div class="col-sm">
                    <p class="lead">
                        {% if user.is_authenticated %}
                            <a class="btn btn-primary btn-lg" href="{% url 'inventory-list' %}" role="button">Get Started</a>
                        {% else %}
                            <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Get Started</a>
                        {% endif %}
                        <a class="btn btn-outline-primary btn-lg" href="#" role="button">View Docs</a>
                    </p>
                </div>
            </div>    
        </div>
    </main>
{% endblock %}