{% extends 'inventory/base_side.html' %}

{% load humanize %}

{% block extra_head %}
<style>
  html, body {
    width: 100%;
    overflow-x: auto;
  }
</style>
{% endblock %}

{% block content %}
<main role="main" class="container-fluid">
<div class="ml-5 mt-4">
  <!-- Top row. Name and summary stats.-->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="card shadow col-md-4" align="center">
      <div hidden id="debug" data-id={{ DEBUG }}></div>
      <h2 class="pt-2">Welcome, {{ user.get_username }}</h2>
      <h5>DMM at {{ facility.facility_name }}</h5>
      <i class="far fa-hospital fa-5x"></i>
    </div>
    <div class="col-md-4">
      <div class="card shadow"> 
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="#"><i class="far fa-times-circle"></i><span class="ml-2"></span> Top 100 Items With No Intake: <span style="float: right;"><mark>${{ no_move_ext|floatformat:0|intcomma }}</mark></span></a></li>
          <li class="list-group-item"><a href="#"><i class="far fa-times-circle"></i><span class="ml-2"></span> Top 100 Items With Intake: <span style="float: right;"><mark>${{ no_move_ext|floatformat:0|intcomma }}</mark></span></a></li>
          <!-- If no target ext then 0 else show figure -->
          {% if target_ext %}
          <li class="list-group-item"><a href="{% url 'review-targeted' %}"><i class="fas fa-bullseye"></i><span class="ml-2"></span> Currently Targeted: <span style="float: right;"><mark>${{ target_ext|floatformat:0|intcomma }}</mark></span></a></li>
          {% else %}
          <li class="list-group-item"><a href="{% url 'review-targeted' %}"><i class="fas fa-bullseye"></i><span class="ml-2"></span> Currently Targeted: <span style="float: right;"><mark>$0</mark></span></a></li>
          {% endif %}
          <li class="list-group-item"><a href="{% url 'review-completed' %}"><i class="far fa-check-circle"></i><span class="ml-2"></span> Removed Inventory: <span style="float: right;"><mark>${{ completed_ext|floatformat:0|intcomma }}</mark></span></a></li>
          <li class="list-group-item"><a href="{% url 'review-accepted' %}"><i class="fas fa-truck"></i><span class="ml-1"></span> Accepted Inventory: <span style="float: right;"><mark>${{ accepted_ext|floatformat:0|intcomma }}</mark></span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Second row. Items requested for movement.-->
  <div class="row mt-5">
      <div class="col-sm-11">
          <h4 class="mt-2">My Incoming Requests: </h4>
          <p class="text-muted">Items seeking to come into your facility</p>
          <div class="mt-3">
            <table class="table table-hover">
              <thead>
                <tr scope="col">
                  <th>Requesting DMM</th>
                  <th>Date Requested</th>
                  <th>Item Description</th>
                  <th>Mfr Cat No</th>
                  <th>Send Qty</th>
                  <th>Accept Qty</th>
                  <th>LUOM Price</th>
                  <th>Proposed Ext</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                {% for plan in incoming_plans %}
                <tr>
                  <td>{{ plan.dmm }}</td>
                  <td>{{ plan.created_at }}</td>
                  <td>{{ plan.item.description }}</td>
                  <td>{{ plan.item.mfr_cat_no }}</td>
                  <td>{{ plan.ship_qty }}</td>
                  <td><input type="number" id="accept-qty-input-{{ plan.id }}" name="accept-qty-input" min="1" max={{ plan.ship_qty }} step="1" value="1" /></td>
                  <td>${{ plan.item.luom_cost|floatformat:0|intcomma }}</td>
                  <td>${{ plan.calc_proposed_ext|floatformat:0|intcomma }}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Action">
                      <button data-id={{ plan.id }} type="button" class="btn btn-success">Accept</button>
                      <button data-id={{ plan.id }} type="button" class="btn btn-danger">Reject</button>
                  </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            {% if not incoming_plans %}
            <h4 class="m-4">No pending requests at this time!</h4>
            {% endif %}
          </div>
      </div>
  </div>

  <!-- Third row. Pending Outgoing Requests. -->
  <div class="row mt-4">
    <div class="col-sm-11">
      <h4>My Outgoing Requests:</h4>
      <p class="text-muted">Items seeking to leave your facility</p>
      <div class="mt-3">
      <table class="table table-hover">
        <thead>
          <tr scope="col">
            <th>Decision</th>
            <th>Destination</th>
            <th>Item Description</th>
            <th>IMMS</th>
            <th>Status</th>
            <th>Requested Qty</th>
            <th>Accepted Qty</th>
            <th>LUOM Price</th>
            <th>Confirmed Ext</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for plan in outgoing_plans %}
          <tr>
            <td>{{ plan.decision }}</td>
            <td>{{ plan.ship_fac }}</td>
            <td>{{ plan.item.description }}</td>
            <td>{{ plan.item.imms }}</td>
            <td><mark>{{ plan.result }}</mark></td>
            <td>{{ plan.ship_qty }}</td>
            <td>{{ plan.accepted_qty }}</td>
            <td>${{ plan.item.luom_cost|floatformat:0|intcomma }}</td>
            <!-- Need if statement for non system items -->
            <td>${{ plan.calc_accepted_ext|floatformat:0|intcomma }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="edit delete plan">
                <a class="btn btn-outline-warning" href="{% url 'edit-plan' plan.id %}"><i class="fas fa-edit"></i></a>
                <a class="btn btn-outline-danger" href="{% url 'delete-plan' plan.id %}"><i class="fas fa-trash"></i></a>
              </div>
            </td>
            <td>
              <button data-id={{ plan.id }} id="finalize-btn" class="btn btn-outline-dark">Finalize</button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% if not outgoing_plans %}
      <h4 class="m-4">No pending requests at this time!</h4>
      {% endif %}
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}

{% block extra_js %}
<script>
  const csrftoken = getCookie('csrftoken');

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
      }
    }
    return cookieValue;
  }

  let host = '';
  const DEBUG = $('#debug').attr('data-id');

  if (DEBUG === 'False') {
    host = 'https://reductiontoolkit.com';
  } else {
    host = 'http://127.0.0.1:8000';
  }

  // Accept button pressed...
  $('.btn-success').click(function() {
    const selectedId = $(this).attr('data-id');

    // get accepted qty and post to django
    const acceptedQty = $(`#accept-qty-input-${selectedId}`).val();
    
    dmmAcceptQty(acceptedQty, selectedId, host);

    dmmRespond('accepted', selectedId, host);
  });

  // Reject button pressed...
  $('.btn-danger').click(function() {
    const selectedId = $(this).attr('data-id');

    dmmRespond('rejected', selectedId, host);
  });

  // A function for accept decision
  function dmmRespond(decision, itemId, host) {
    const URL = `${host}/act/${itemId}/resulthandler/`;
    $.ajax({
        url: URL,
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        data: {'action': decision}
    })
    .done(function(response) {
        console.log(response);
    })
    .fail(function(error) {
        console.log(error);
    });

    // refresh page to show list item disappears
    window.location.reload();
  }

  // A function for accept qty
  function dmmAcceptQty(qty, itemId, host) {
    const URL = `${host}/act/${itemId}/acceptqtyhandler/`;
    $.ajax({
        url: URL,
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        data: {'accept_qty': qty}
    })
    .done(function(response) {
        console.log(response);
    })
    .fail(function(error) {
        console.log(error);
    });
  }

  // on clicking finalize button do...
  $('.btn-outline-dark').click(function() {
    const selectedId = $(this).attr('data-id');

    finalizePlan(selectedId, host);

    // refresh page to update UI (item off of outgoing requests and updated metrics)
    window.location.reload(true);
  });

  // function for AJAX request to finalize button
  function finalizePlan(itemId, host) {
    const URL = `${host}/act/${itemId}/finalizeplanhandler/`;
    $.ajax({
      url: URL,
      method: 'POST',
      headers: {'X-CSRFToken': csrftoken},
      data: {'isFinalize': 'True'}
    })
    .done(function(response) {
      console.log(response);
    })
    .fail(function(error) {
      console.log(error);
    });
  }

</script>
{% endblock %}