{% extends 'inventory/base_side.html' %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load humanize %}

{% block extra_head %}
  <title>Review No Intake Items</title>
{% endblock %}

{% block content %}
  <section class="container-fluid">
    <div style="display: flex; margin-left: 20px;">
      <h2 class="mt-4 mb-4">Review Items With No Intake <i class="fas fa-snowflake"></i></h2>
      <div style="padding: 5px; margin-top: 18px; margin-left: 20px;">
        <a href="{% querystring '_export'='xlsx' %}" class="btn btn-outline-primary">
          Export to Excel
        </a>
      </div>
    </div>
    <div style="margin: 0 20px 20px 20px;">
      {% render_table table %}
    </div>
  </section>
{% endblock %}

