{% extends 'inventory/base.html' %}

{% load humanize %}

{% block content %}
<section class="container">
  <h2 class="mt-4">Review Accepted Movement Plans <i class="fas fa-truck"></i></h2>
  <p>NOTE: In excel, "Date Requested" will be in UTC timezone.</p>

  <table class="table table-hover">
    <thead>
      <tr scope="col">
        <th>Sending Facility</th>
        <th>Receiving Facility</th>
        <th>Date Requested</th>
        <th>Item Description</th>
        <th>Mfr Cat No</th>
        <th>IMMS No</th>
        <th>Accepted Qty</th>
        <th>Unit Cost</th>
      </tr>
    </thead>

    <tbody>
      {% for plan in accepted_plans %}
      <tr>
        <td>{{ plan.item.fac }}</td>
        <td>{{ plan.ship_fac }}</td>
        <td>{{ plan.created_at }}</td>
        <td>{{ plan.item.description }}</td>
        <td>{{ plan.item.mfr_cat_no }}</td>
        <td>{{ plan.item.imms }}</td>
        <td>{{ plan.accepted_qty }}</td>
        <td>${{ plan.item.wt_avg_cost|floatformat:0|intcomma }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% if accepted_plans %}
  <a href="{% url 'export-accepted' %}" class="btn btn-outline-primary">Export to Excel</a>
  {% else %}
  <h4>You have not accepted any movement plans yet.</h4>
  {% endif %}
  
</section>

{% endblock %}