{% extends 'inventory/base.html' %}

{% load humanize %}

{% block content %}
<section class="container">
  <h2>Review Accepted Movement Plans</h2>

  <table class="table table-hover">
    <thead>
      <tr scope="col">
        <th>Requesting DMM</th>
        <th>Item Description</th>
        <th>Mfr Cat No</th>
        <th>IMMS No</th>
        <th>Accepted Qty</th>
        <th>Unit Cost</th>
      </tr>
    </thead>

    <tbody>
      {% for plan in accepted_plans %}
      <tr>
        <td>{{ plan.dmm }}</td>
        <td>{{ plan.item.description }}</td>
        <td>{{ plan.item.mfr_cat_no }}</td>
        <td>{{ plan.item.imms }}</td>
        <td>{{ plan.accepted_qty }}</td>
        <td>${{ plan.item.wt_avg_cost|floatformat:0|intcomma }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <button class="btn btn-primary">Export to Excel</button>
</section>

{% endblock %}