{% extends 'inventory/base.html' %}

{% load humanize %}

{% block content %}
<section class="container">
  <div id="review-requests-header" style="margin-top: 100px;">
    <h2 class="mt-5">View All Outstanding Requests <i class="fas fa-user-clock"></i></h2>
    <p>The following are all requests, within BHS, that are still awaiting decision from the "Pending Approval Facility" DMM.</p>
  </div>

  <div>
    {% if outstanding_plans %}
    <table class="table table-hover">
      <thead>
        <tr scope="col">
          <th>Requesting Facility</th>
          <th>Pending Approval Facility</th>
          <th>Date Requested</th>
          <th>Item Desc</th>
          <th>Mfr Cat No</th>
          <th>IMMS No</th>
          <th>Requesting Qty</th>
          <th>Unit Cost</th>
          <th>Ext Cost</th>
        </tr>
      </thead>

      <tbody>
        {% for plan in outstanding_plans %}
          <tr>
            <td>{{ plan.item.fac }}</td>
            <td>{{ plan.ship_fac }}</td>
            <td>{{ plan.created_at }}</td>
            <td>{{ plan.item.description }}</td>
            <td>{{ plan.item.mfr_cat_no }}</td>
            <td>{{ plan.item.imms }}</td>
            <td>{{ plan.ship_qty }}</td>
            <td>${{ plan.item.luom_cost|floatformat:0|intcomma }}</td>
            <td>${{ plan.calc_proposed_ext|floatformat:0|intcomma }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <h4 class="m-4">There are currently no outstanding requests.</h4>
    {% endif %}

  </div>
</section>
{% endblock %}