{% extends 'inventory/base_side.html' %}
{% load humanize %}

{% block content %}
<section class="container">
  <h1 class="mt-4">Leaderboard <i class="fas fa-trophy"></i></h1>
  <div class="mt-4">
    <table class="table table-hover">
      <thead>
        <tr scope="col">
          <th>Rank</th>
          <th>DMM</th>
          <th>Total Plans Submitted</th>
          <th>Plans Finalized</th>
          <th>Total Amount Reduced</th>
        </tr>
      </thead>

      <tbod>
        {% for d in dmm_data %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ d.0 }}</td>
            <td>{{ d.1 }}</td>
            <td>{{ d.2 }}</td>
            <td>${{ d.3|floatformat:2|intcomma }}</td>
          </tr>
        {% endfor %}
      </tbod>
    </table>
  </div>
  </div>
</section>
{% endblock %}